# my first R notebook

In [1]:
a = 20
b<-10
30->c

In [2]:
a
b
c

[1] 20

[1] 10

[1] 30

In [3]:
n<-15
n

[1] 15

In [4]:
n<-10+2
n

[1] 12

In [5]:
n<-3+rnorm(1)
n

[1] 2.507885

In [6]:
(10 + 2) * 5

[1] 60

# if value is not assigned to an object result is displayed but not stored in memory

In [8]:
name <- "carmen";n1 <- 10;n2 <- 100;m <- 0.5
ls()

[1] "a"    "b"    "c"    "m"    "n"    "n1"   "n2"   "name"

# ls shows you all available variables

# only displays names of variable (;) separates

In [9]:
ls(pat = "m")

[1] "m"    "name"

# letter m present in name so it dispalys

In [10]:
ls(pat = "^m")

[1] "m"

# (^) indicates name start with letter

In [11]:
ls.str()

a :  num 20
b :  num 10
c :  num 30
m :  num 0.5
n :  num 2.51
n1 :  num 10
n2 :  num 100
name :  chr "carmen"

In [12]:
help("lm")

# online help gives information how to use function

In [13]:
x<-1
mode(x)

[1] "numeric"

In [14]:
length(x)

[1] 1

# mode missing data is represented by NA.A verery large value can specified with exponential value

In [15]:
N<-2.1e23
N

[1] 2.1e+23

# R correctly represents the non-finite numerical values like infinity,NAN clearly

In [16]:
x<-5/0
x

[1] Inf

In [17]:
exp(x)

[1] Inf

In [18]:
exp(-x)

[1] 0

In [19]:
x-x

[1] NaN

In [20]:
x<-"Double quotes \" delimitate R's strings."
x

[1] "Double quotes \" delimitate R's strings."

In [21]:
cat(x)

Double quotes " delimitate R's strings.

In [22]:
mode(n)
mode(name)
compr<-TRUE
mode(compr)

[1] "numeric"

[1] "character"

[1] "logical"

In [23]:
z<-1i
n<-20
mode(n)
mode(z)

[1] "numeric"

[1] "complex"

In [24]:
length(compr)
length(name)

[1] 1

[1] 1

In [25]:
name

[1] "carmen"